@font-face {
  font-family: 'abril-fatface';
  src: url('/Users/barbaravargas/Desktop/updatedWebsite/barb-web/public/Abril_Fatface/AbrilFatface-Regular.ttf') format('truetype');
  
}

@font-face {
  font-family: 'glacialFont';
  src: url('/Users/barbaravargas/Desktop/updatedWebsite/barb-web/public/glacial-indifference/GlacialIndifference-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'glacialFontBold';
  src: url('/Users/barbaravargas/Desktop/updatedWebsite/barb-web/public/glacial-indifference/GlacialIndifference-Bold.otf') format('truetype');
}


.App {
  text-align: center;
  color: #302c30;
}

svg {
  padding:20px;
}

.abrilFont {
  font-family: 'abril-fatface';
}

.glacialFont {
  font-family: 'glacialFont';
}

.glacialBold {
  font-family: 'glacialFontBold';
}

.navbar-item {
  font-family: 'abril-fatface';

}
.text-hover:hover {
  fill:#ffd51e;
}

.link-style {
  text-decoration: none;
}

